<h1>All movies</h1>

<ul>
  <% @lists.each do |listo| %>
    <li><%= link_to listo.name, list_path(listo) %></li>
  <% end %>
</ul>

<%= cl_image_tag("vft558teme5g518squo8u0ktl6tm.jpeg",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("r2ayxkxhnwyswfncbpya.jpeg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<%= cl_image_tag("sample.jpeg",
      width: 150, height: 150, crop: :thumb) %>