<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <p> <%= bookmark.movie.title  %> <%= link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </p>
<% end %>


<%= link_to "Add a movie", new_list_bookmark_path(@list) %>